@page "/bookings/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Bookings</h3>
<hr />
<br />

<EditForm Model="@booking" OnValidSubmit="CreateBooking">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Customer: </label>
        <div>
            <InputSelect @bind-Value="booking.CustomerId" class="form-control">
                <option value="">--Select Customer--</option>
                @if (Customers != null)
                {
                    foreach (var customer in Customers)
                    {
                        <option value="@customer.Id">@customer.GuestName</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => booking.CustomerId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Hotel: </label>
        <div>
            <InputSelect @bind-Value="booking.HotelId" class="form-control">
                <option value="">--Select Hotel--</option>
                @if (Hotels != null)
                {
                    foreach (var hotel in Hotels)
                    {
                        <option value="@hotel.Id">@hotel.HotelName</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => booking.HotelId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Booking: </label>
        <div>
            <InputNumber @bind-Value="@booking.Id" class="form-control" />
            <ValidationMessage For="@(() => booking.Id)" />
        </div>
    </div>

    <div class="form-group">
        <label>Room: </label>
        <div>
            <InputSelect @bind-Value="booking.RoomId" class="form-control">
                <option value="">--Select Room--</option>
                @if (Rooms != null)
                {
                    foreach (var room in Rooms)
                    {
                        <option value="@room.Id">@room.Type</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => booking.RoomId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Duration: </label>
        <div>
            <InputSelect @bind-Value="booking.DurationId" class="form-control">
                <option value="">--Select Duration--</option>
                @if (Durations != null)
                {
                    foreach (var duration in Durations)
                    {
                        <option value="@duration.Id">@duration.StayTime</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => booking.DurationId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Payment: </label>
        <div>
            <InputSelect @bind-Value="booking.PaymentId" class="form-control">
                <option value="">--Select Payment--</option>
                @if (Payments != null)
                {
                    foreach (var payment in Payments)
                    {
                        <option value="@payment.Id">@payment.Method</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => booking.PaymentId)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        Create Booking
    </button>
    <TravelableProject.Client.Components.BackToList Target="bookings" />
</EditForm>

@code {
    Booking booking = new Booking();

    private IList<Payment> Payments;
    private IList<Room> Rooms;
    private IList<Duration> Durations;
    private IList<Customer> Customers;
    private IList<Hotel> Hotels;

    protected async override Task OnInitializedAsync()
    {
        Rooms = await _client.GetFromJsonAsync<List<Room>>($"{Endpoints.RoomsEndpoint}");
        Payments = await _client.GetFromJsonAsync<List<Payment>>($"{Endpoints.PaymentsEndpoint}");
        Durations = await _client.GetFromJsonAsync<List<Duration>>($"{Endpoints.DurationsEndpoint}");
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.RoomsEndpoint}");
        Hotels = await _client.GetFromJsonAsync<List<Hotel>>($"{Endpoints.HotelsEndpoint}");
    }

    private async Task CreateBooking()
    {
        await _client.PostAsJsonAsync(Endpoints.BookingsEndpoint, booking);
        _navManager.NavigateTo("/bookings/");
    }

}
