@inject HttpClient _client

<EditForm Model="@hotel" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Name: </label>
        <div>
            <InputText @bind-Value="@hotel.HotelName" class="form-control" />
            <ValidationMessage For="@(() => hotel.HotelName)" />
        </div>
    </div>

    <div class="form-group">
        <label>Address: </label>
        <div>
            <InputText @bind-Value="@hotel.HotelAddress" class="form-control" />
            <ValidationMessage For="@(() => hotel.HotelAddress)" />
        </div>
    </div>

    <div class="form-group">
        <label>Contact Number: </label>
        <div>
            <InputText @bind-Value="@hotel.Country" class="form-control" />
            <ValidationMessage For="@(() => hotel.Country)" />
        </div>
    </div>

    <div class="form-group">
        <label>Room: </label>
        <div>
            <InputSelect @bind-Value="hotel.RoomId" class="form-control">
                <option value="">--Select Room--</option>
                @if (Rooms != null)
                {
                    foreach (var room in Rooms)
                    {
                        <option value="@room.Id">@room.Type</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => hotel.RoomId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Duration: </label>
        <div>
            <InputSelect @bind-Value="hotel.DurationId" class="form-control">
                <option value="">--Select Duration--</option>
                @if (Durations != null)
                {
                    foreach (var duration in Durations)
                    {
                        <option value="@duration.Id">@duration.StayTime</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => hotel.DurationId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Payment: </label>
        <div>
            <InputSelect @bind-Value="hotel.PaymentId" class="form-control">
                <option value="">--Select Payment--</option>
                @if (Payments != null)
                {
                    foreach (var payment in Payments)
                    {
                        <option value="@payment.Id">@payment.Method</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => hotel.PaymentId)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
    <TravelableProject.Client.Components.BackToList Target="hotels" />
</EditForm>

@code {
    [Parameter] public Hotel hotel { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private IList<Room> Rooms;
    private IList<Duration> Durations;
    private IList<Payment> Payments;

    protected async override Task OnInitializedAsync()
    {
        Rooms = await _client.GetFromJsonAsync<List<Room>>($"{Endpoints.RoomsEndpoint}");
        Durations = await _client.GetFromJsonAsync<List<Duration>>($"{Endpoints.DurationsEndpoint}");
        Payments = await _client.GetFromJsonAsync<List<Payment>>($"{Endpoints.PaymentsEndpoint}");
    }
}
